body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

h1, h3 {
    margin: 0;
}

header {
    background: transparent linear-gradient(180deg, #6AE7FD 0%, #0DC3EF 100%) 0% 0% no-repeat padding-box;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
}

.logo-app-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.welcome-message {
    display: flex;
    justify-content: center;
    margin-top: 60px;
    color: #233BA0;
}

.login-form {
    margin-top: 35px;
}

.form-field-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 297px;
    margin: 0 auto;
    text-align: center;
}

.form-field-wrapper label {
    color: #233BA0;
    margin-bottom: 15px;
}

.form-field-wrapper input {
    appearance: none;
    border: 1px solid #49D8F7;
    text-align: center;
    padding: 12px;
    border-radius: 5px;
    transition: border 0.4s linear;
}

.form-field-wrapper input:focus {
    outline: 0;
    border: 1px solid #233BA0;
}

.form-field-wrapper + .form-field-wrapper {
    margin-top: 12px;
}

.form-actions {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.form-actions button {
    background: #F0F1F3;
    appearance: none;
    border: none;
    width: 180px;
    height: 50px;
    border-radius: 28px;
    color: #D6D6D6;
    cursor: pointer;
    box-shadow: none;
}

.form-actions button:hover {
    background: linear-gradient(180deg, #4360D1 0%, #20389C 100%) 0% 0% no-repeat;
    box-shadow: 0px 3px 6px #607AE2;
}
